* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Helvetica;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {}

html {
    font-size: 12px;
}

/* navbar */
.navbar-top {
    padding: 20px 3rem;
    color: #fff;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.navbar-top ul {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;


}

.navbar-top ul li {
    list-style: none;


}

.navbar-top ul a {
    color: #fff;
    margin-left: 4rem;

}

/* navbar-botton */

.navbar-botton {
    padding: 10px 21rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;

    width: 100%;
}

.navbar-botton ul {
    display: flex;

}

.navbar-botton ul li {

    list-style: none;
}

.navbar-botton ul li a {
    margin-left: 3rem;
    text-transform: capitalize;

}

.navbar-botton ul li a.link-buy {

    background-color: #0071e3;
    border-radius: 10rem;
    color: #fff;
    padding: 0.4rem 1rem;
}

.navbar-text {
    height: 40px;
    justify-content: center;
    background-color: #f5f5f7cb;
    display: flex;
    align-items: center;
}

section {
    text-align: center;
}

section h3,
h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section h3 {
    font-size: 2rem;
}

section h2 {
    font-size: 8rem;
}

section .paragrafo {
    display: flex;
    justify-content: center;

}

section .paragrafo p {
    width: 25%;
    margin-bottom: 2rem;
}

.dolor-text p {
    margin-bottom: 2rem;
    font-size: 18px;
    color: rgb(145, 145, 145);
}

section button {
    background-color: #0071e3;
    border-radius: 10rem;
    color: #fff;
    padding: 0.4rem 3rem;
    border: none;
}

.section-img{
   
    display: flex;
    justify-content: center;
}
/*  */

.img{
        width: 70%;
        padding-top: 2rem;
    
}
.section-img .img img{
   
    background-position: center;
    background-size: cover;
    width: 100%;
}